{% extends 'registration/base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h2>Password Reset Link Sent</h2>
    </div>
    
    <div class="container-body">
        <h5>Check Your Email or Mobile</h5>
        <p>We have sent you a OTP or password reset link. Please check your inbox or mobile messages to reset your password.</p><br>
        <form>
            <div class="form-group active" id="">
                <input type="tel" id="otp" name="otp" required>
                <label for="otp">Enter OTP</label>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
        <div class="note">
            <p>If you do not see the email or message in your inbox, please check your spam or junk folder.</p>
        </div>
        <div class="toggle-link">
            <a href="{% url 'login' %}" class="toggle-link">Back to Login</a>
        </div>
    </div>
</div>

{% endblock %}
