{% extends 'base.html' %}

{% block content %}


<style type="text/css">
	input[type="checkbox"] {
         transform:scale(1.5, 1.5);
		}
</style>



<div class="container py-2">
	<h6 class="text-white fw-bold btn btn-secondary">Meter Issue</h6>
<form class="issue_form">
	<div class="row">
		{% csrf_token %}
  		<div class="form-group col-md-2">
  			<label for="item_no">Item</label>
			 <select class="form-control:focus form-control enter_btn" id="item_no" name="manufacturer" style="width:150px" required>
		      <option></option>
		        {% for any in item %}
		      <option value="{{ any.item_no }}">{{ any.item_no }}</option>
		        {% endfor %}
        	</select>
		</div>
  		<div class="form-group col-md-2">
			<label for="manufacturer">Manufacturer</label>
			 <select class="form-control:focus form-control enter_btn" id="manufacturer" name="manufacturer" style="width:150px" required>
		      <option></option>
		        {% for any in mfg %}
		      <option value="{{ any.name }}">{{ any.name }}</option>
		        {% endfor %}
        	</select>
		</div>

		<div class="form-group col-md-2">
			<label for="meter_no">Mete No</label>
			<input class="form-control float-right enter_btn" type="" name="" id="meter_no" required="">
		</div>
		<div class="form-group col-md-2">
			<label for="reading">Reading</label>
			<input class="form-control float-right enter_btn" type="" name="" id="reading" required>
		</div>
		<div class="form-group col-md-2">
			<label for="cmo">CMO No</label>
			<input class="form-control float-right enter_btn" type="" name="" id="cmo" required>
		</div>
		<div class="form-group col-md-2">
			<label for="main_seal">Main Seal</label>
			<input class="form-control float-right enter_btn" type="" name="" id="main_seal" minlength="8" required>
		</div>

  </div>

  	<div class="row">
		<div class="form-group col-md-2">
			<label for="body_seal1">Body Seal1</label>
			<input class="form-control float-right" type="" name="" id="body_seal1" value="lead">

		</div>
		<div class="form-group col-md-2">
			<label for="body_seal2">Body Seal2</label>
			<input class="form-control float-right" type="" name="" id="body_seal2" value="lead">
		</div>
		<div class="form-group col-md-2">
			<label for="total_seal">New Total TTS</label>
			<input class="form-control float-right enter_btn" type="number" value="1" name="" id="total_seal">
		</div>
		<div class="form-group col-md-4">
			<label for="received_by">Received By</label>
			<select class="form-control:focus form-control enter_btn" id="received_by" name="received_by" style="width: 400px;" required>
		      <option></option>
		        {% for any in employee %}
		      <option value="{{ any.training_id }}-  {{any.get_full_name}}, {{ any.designation }}">{{ any.training_id }}-  {{any.get_full_name}}, {{ any.designation }}</option>
		        {% endfor %}
        	</select>
		</div>
		<div class="form-group col-md-2">
			<label for="save">.</label>
			<button class="btn btn-primary form-control float-right align-bottom enter_btn" type="submit" name="" id="save">Save</button> 
		</div>	
	</div>
</form>

    <div class="table-responsive py-2">
	 {% if last_issue%}
	  <table class="table" id="tableData">
	  <thead>
	  	<tr>
	  		<td>ID</td>
	  		<td>Item</td>
	  		<td>Meter No</td>
	  		<td>Reading</td>
	  		<td>CMO No</td>
	  		<td>Seal No</td>
	  		<td>New-J31</td>
	  		<td>Received By</td>
	  		<td>Action</td>
	  	</tr>
	  </thead>
	  <tbody id="tbody">
	  	<tr class="text-warning text-nowrap">
	  		<td>{{ last_issue.id }}</td>
	  		<td>{{ last_issue.item.item_no }}</td>
	  		<th>{{ last_issue.meter_no }}</th>
	  		<td>{{ last_issue.reading }}</td>
	  		<td>{{ last_issue.cmo }}</td>
	  		<th>{{ last_issue.main_seal }}</td>
	  		<th>{{ last_issue.total_j31 }}</th>
	  		<td>{{ last_issue.received_by }}</td>
	  		<td><a href="{% url "meter_issue_list" %}" data-popup="yes" class="btn btn-info" role="button"><i class="fas fa-edit"></i></a>
	  		</td>
	  	</tr>
	  </tbody>
	  </table>
		 {% else %}
		   <p class="text-center">List is empty!</p>
		 {% endif %}
	</div>

</div>



{% include 'issue_item/update_modal.html' %}



<script type="text/javascript">
	
	$('#save').on('click', function(e){
		//it will prevent regular form submit system
		e.preventDefault()

		var meter_no = $('#meter_no').val();
		var reading = $('#reading').val()
		var main_seal = $('#main_seal').val();
		var cmo = $('#cmo').val()
		var body_seal1 = $('#body_seal1').val();
		var body_seal2 = $('#body_seal2').val();
		var total_seal = $('#total_seal').val();
		var received_by = $('#received_by').val();
		var item_no = $('#item_no').val();
		var manufacturer = $('#manufacturer').val();
		var token = '{{csrf_token}}';

		if (meter_no == '' || reading =='') {
			alert('অনুগ্রহ পূর্বক মিটার নং ও রিডিং পূরণ করুন।')
		} else if (main_seal == '' || body_seal1=='' || body_seal2 == ''){
			alert('সকল সিল সমূহ পূরণ করুণ।')

		} else if (main_seal < 10000000){

			alert('মেইন সিল কম পক্ষে আট ডিজিট হতে হবে। ')

		} else {


		$.ajax({
			url: '/issue_ajax',
			type:'POST',
			dataType: 'json',
			headers: { "X-CSRFToken": token },
			data: {
				'meter_no':meter_no,
				'reading':reading,
				'main_seal':main_seal,
				'cmo':cmo,
				'body_seal1':body_seal1,
				'body_seal2':body_seal2,
				'total_seal':total_seal,
				'received_by':received_by,
				'item_no':item_no,
				'manufacturer':manufacturer,
			    }
			
			}).done(function(data){
				if (data.status=="failed"){
					alert(data.message)
				} else {
				$('#tableData tbody').append('<tr id="extra-'+data.id+'" class="text-nowrap"><td class="data_id">'+data.id+'</td><td>'+data.item_no+'</td><th class="data_meter_no">'+data.meter_no+'</th><td>'+data.reading+'</td><td class="cmo">'+data.cmo+'</td><th>'+data.main_seal+'</td><th>'+data.total_j31+'</th><td>'+data.received_by+'</td><td><a href="{% url "meter_issue_list" %}" data-popup="yes" class="btn btn-info" role="button"><i class="fas fa-edit"></i></a></td></tr>');
				$('#meter_no').val('');
				$('#reading').val('');
				$('#main_seal').val(main_seal.substring(0,5))
				$('#cmo').val('');
				$('#meter_no').focus();
				}
			})
	
		}
	})


//For Move the cursor to the next field and not submitting the form on enter button
$(document).ready(function() {

$('.enter_btn').keypress(function (e) {
     if (e.which === 13) {
         e.preventDefault();
         var index = $('.enter_btn').index(this) + 1;
         $('.enter_btn').eq(index).focus();
     }
 });

});




</script>




{% endblock %}