

<div class="modal fade" id="issue-update-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg-info">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Issued Seal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-light">



<div class="row">
    {% csrf_token %}
  <form>
  <div class="row">
    <div class="form-group col-md-2 col-sm-6">
      <input type="" name="" id="id" hidden>
      <label for="meter_no">Book</label>
      <input class="form-control float-right enter_btn" type="" name="" id="book" autofocus>
    </div>
    <div class="form-group col-md-2 col-sm-6">
      <label for="reading">Account</label>
      <input class="form-control float-right enter_btn" type="" name="" id="account">
    </div>
    <div class="form-group col-md-2 col-sm-6">
      <label for="main_seal">Main Seal</label>
      <input class="form-control float-right enter_btn" type="" name="" id="main_seal" minlength="8">
    </div>
    <div class="form-group col-md-2 col-sm-6">
      <label for="cmo">CMO No</label>
      <input class="form-control float-right enter_btn" type="" name="" id="cmo">
    </div>
    </div>

    <div class="row">
      <div class="form-group col-md-2 col-sm-6">
      <label for="item_no">Item</label>
       <select class="form-control:focus form-control" id="item_no" name="item_no" style="width:150px" required>
          <option value="J-31">J-31</option>
        </select>
    </div>

    <div class="form-group col-md-2 col-sm-6">
      <label for="received_by">Received By</label>
      <select class="form-control:focus form-control" id="received_by" name="received_by" style="" required>
          <option></option>
            {% for any in employee %}
          <option value="{{ any.training_id }}-  {{any.get_full_name}}, {{ any.designation }}">{{ any.training_id }}-  {{any.get_full_name}}, {{ any.designation }}</option>
            {% endfor %}
          </select>
    </div>
    <div class="form-group col-md-2 col-sm-6">
      <label for="save">.</label>
      <button class="btn btn-primary form-control float-right align-bottom enter_btn" type="submit" name="" id="save_update">Update</button> 
      </div>
    <div class="form-group col-md-2 col-sm-6">
      <label for="save">.</label>
          <button type="button" class="btn btn-secondary form-control float-right align-bottom" data-bs-dismiss="modal">Cancel</button>
      </div>


  </div>
  </div>

</form>


      </div>

    </div>
  </div>
</div>

<script type="text/javascript">

  //get data to modal
  function editMeter(id) {
    if(id){
      //get data from table by id
      var pid = "#extra-" + id;
      var cmo = $(pid).find(".cmo").text();
      var data_date_1 = $(pid).find(".data_date_1").text();
      var data_item = $(pid).find(".data_item").text();
      var data_book = $(pid).find(".data_book").text();
      var data_account = $(pid).find(".data_account").text();
      var data_date_2 = $(pid).find(".data_date_2").text();
      var data_cmo = $(pid).find(".data_cmo").text();
      var data_main_seal = $(pid).find(".data_main_seal").text();
      var data_total_j31 = $(pid).find(".data_total_j31").text();
      var data_received_by = $(pid).find(".data_received_by").text();

        //set data to modal
          $('#id').val(id);
          $('#date_1').val(data_date_1);
          $('#item_no option').removeAttr('selected').filter('[value=J-39]').attr('selected', true);
          $('#received_by option').removeAttr('selected').filter('[value="'+data_received_by+'"]').attr('selected', true);
          $('#book').val(data_book);
          $('#account').val(data_account);
          $('#date_2').val(data_date_2);
          $('#cmo').val(data_cmo);
          $('#main_seal').val(data_main_seal);
          $('#total_j31').val(data_total_j31);
          //$('#received_by').val(data_received_by);
    }

  }





//update data to database
$('#save_update').on('click', function(e){
    //it will prevent regular form submit system
    e.preventDefault()

    var meter_id = $('#id').val();
    var main_seal = $('#main_seal').val();
    var cmo = $('#cmo').val()
    var book = $('#book').val();
    var account = $('#account').val();
    var total_seal = $('#total_j31').val();
    var received_by = $('#received_by').val();
    var item_no = $('#item_no').val();
    var token = '{{csrf_token}}';
    
    $.ajax({
      url: '/update_issue_ajax',
      type:'POST',
      dataType: 'json',
      headers: { "X-CSRFToken": token },
      data: {
        'meter_id':meter_id,
        'book':book,
        'account':account,
        'main_seal':main_seal,
        'cmo':cmo,
        'total_seal':total_seal,
        'received_by':received_by,
        'item_no':item_no,
          }
      
      }).done(function(data){
        if (data.status=='failed') {
                     //hide modal
          $("#issue-update-modal").modal("hide")    

          // Ensure backdrop is removed after modal is hidden
          $('#issue-update-modal').on('hidden.bs.modal', function (e) {
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('body').css('overflow', '');   // Ensure scrolling is restored
            });
            alert(data.message);
        } else {
          //Update register frontend display
          var pid = "#extra-" + meter_id;
            $(pid).find(".data_item").text(item_no);
            $(pid).find(".data_book").text(book);
            $(pid).find(".data_account").text(account);
            $(pid).find(".data_cmo").text(cmo);
            $(pid).find(".data_main_seal").text(main_seal);
            $(pid).find(".data_total_j31").text(total_seal);
            $(pid).find(".data_received_by").text(received_by);

          //hide modal
          $("#issue-update-modal").modal("hide")    

          // Ensure backdrop is removed after modal is hidden
          $('#issue-update-modal').on('hidden.bs.modal', function (e) {
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('body').css('overflow', '');   // Ensure scrolling is restored
            });
            alert(data.message);
        }
      })
  
  })

</script>
