{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    .card {
        background-color: #f9f9f9;
        border-radius: 10px;
    }

    .card-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #2fcc7b;
    }

    h4 {
    	text-shadow: 5px 5px 5px black;
    }

    .form-label {
    	text-shadow: 1px 1px 2px #acb0ae;
    }

    .form-control {
        border: none;
        border-bottom: 2px solid #ced4da;
        border-radius: 0;
        padding: 10px;
        background-color: transparent;
        box-shadow: none;
    }

    .form-control:focus {
        border-bottom: 2px solid #007bff;
        box-shadow: none;
    }

    .btn-primary {
        border-radius: 20px;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header text-white text-center pt-3">
                    <h4>Update Employee</h4>
                </div>
                <div class="card-body px-5 py-4">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-flex justify-content-center mt-4">
                            <button class="btn btn-primary w-50" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
