
{% extends 'base.html' %}
{% block content %}
<div class="m-1 bg-light p-0 py-1 border" style="width: 100%">
 
 <div class="m-0 p-5 py-0">
  <h2 class="text-primary">Issue Item</h2>
<form method="post" id="uploadForm">
  {% csrf_token %}
  <div class="row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Date: (Month-Date-Year)</label>
            <input type="date" class="form-control" id="date" name="date_start" required>
      <!---<input type="date" class="form-control" id="date" name="date_start" value="{{obj.date_start|date:"Y-m-d"}}">-->
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Item No</label>
      <select type="text" class="form-control" id="item_no" name="item_no" required>
        <option selected="selected"></option>
        <option value="J-31">J-31</option>
        {% for i in item %}
        <option value="{{i.item_no}}">{{i.item_no}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="issue_to">Issue To</label>
      <select type="text" class="form-control" id="issue_to" name="issue_to" required>
        <option value="register">Register</option>
        <option value="return_to_store">Return to Store</option>
      </select>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="form-group col-md-4 reg_div">
      <label for="sl_start">Serial Start</label>
      <input type="text" class="form-control sl" id="sl_start" name="sl_start" value="{{obj.sl_end|add:1}}">
    </div>
    <div class="form-group col-md-4 reg_div">
      <label for="sl_end">Serial End</label>
      <input type="text" class="form-control sl" id="sl_end" name="sl_end" oninvalid="this.setCustomValidity('সিরিয়াল নাম্বান দিন')" oninput="setCustomValidity('')" required>
    </div>


    <div class="form-group col-md-4 store_div" style="display: none">
      <label for="remark">Remark</label>
      <input type="" class="form-control" name="remark" id="remark" placeholder="remark">
    </div>
    <div class="form-group col-md-4 store_div" style="display: none">
      <label for="store_return_ticket">Ticket No</label>
      <input type="" class="form-control" name="store_return_ticket" id="store_return_ticket" placeholder="Store Ticket No...">
    </div>

    <div class="form-group col-md-4">
      <label for="debit_qty">Issue quantity</label>
      <input type="text" class="form-control" name="debit_qty" id="debit_qty" required>
    </div>
  </div>


  <div class="row">

  </div>
<hr>
  <div class="row text-center" id="seal">
    <div class="form-group col-md-2"><br>
      <h6 class="btn btn-sm btn-danger" readonly>Issued J-31 with Meter</h6>
    </div> 
    <div class="form-group col-md-2">
      <label for="input1">one</label>
      <input type="text" class="form-control" name="input1" id="input1" onkeyup="calc()"  value="">
    </div>
    <div class="form-group col-md-2">
      <label for="input2">two</label>
      <input type="text" class="form-control" name="input2" id="input2" onkeyup="calc()" value="">
    </div>
    <div class="form-group col-md-2">
      <label for="input3">three</label>
      <input type="text" class="form-control" name="input3" id="input3" onkeyup="calc()" value="">
    <a href="javascript: void(0)" onClick="calc()">Calculate</a>
    </div>
    

    <div class="form-group col-md-4 text-start">
      <label for="j31total">Total J-31</label>
      <input type="text" class="form-control" name="j31total" id="j31total" >
    </div>
  </div>

<!--
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>

-->
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btnClick btn btn-primary btn-lg me-md-2" type="submit">Save</button>
</div>
<div id="resmessage" class="card col-md-4 p-3" style="display: none;"></div>
</form>
</div>



<script type="text/javascript">

    //To submit form
    $(document).ready(function(){
    $("#uploadForm").submit(function(e){
      e.preventDefault();
      $(".btnClick").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...');
      var $form = $(this);
      var serializedData = $form.serialize();
      var $res_message = $("#resmessage");
      //var $last_meter = $("#last_meter");
      //var $last_id = $("#last_id");
     // $('#cmo_id').prop('readonly', true);
      $.ajax({
          url: '/issue_item_to_bl/',
          type: "POST",
          data: serializedData,
          dataType: 'json',
          success: function (data) {

            if (data.error) {
                  $res_message.text(data.msg);
                  $res_message.show();
                  $(".btnClick").prop('disabled', false);
                  $(".btnClick").text('Submit');
                  alert(data.msg);

            }else{
              $("#resmessage").removeClass("alert-danger");
              $("#resmessage").addClass("alert-success");
              $("#resmessage").text(data.msg);
              console.log(data.msg);
              $("#resmessage").show();
              //$last_meter.text(data.tested_meter_no);
              $('#cmo_id').prop('readonly', false);
              $("#cmo_id").focus();
              $("#date").val('');
              $("#sl_start").val(parseInt(data.sl_end) + 1);
              $("#sl_end").val('');
              $("#store_return_ticket").val('');
              $("#debit_qty").val('');
              $("#input1").val('');
              $("#input2").val('');
              $("#input3").val('');
              $("#j31total").val('');
              $("#pg").text(data.pg);
              //$("#last_update_id").attr('href', '/'+data.last_id+'/update');
              $(".btnClick").prop('disabled', false);
              $(".btnClick").text('Submit');
            }
          }
        });
    });
  });



  //for messege hide fade
  setTimeout(function() {
    $('#message').fadeOut('fast');
}, 3000); // <-- time in milliseconds


  //for Substraction of balance
$(document).ready(function() {
    //this calculates values automatically 
    sub();
    $("#sl_start, #sl_end").on("keydown keyup", function() {
        sub();
    });
});


function sub() {
      var num1 = document.getElementById('sl_start').value;
      var num2 = document.getElementById('sl_end').value;
      var result = parseInt(num2) - parseInt(num1)+1;
      var result1 = parseInt(num2) - parseInt(num1) +1;
      if (!isNaN(result)) {
        try {
        document.getElementById('debit_qty').value = result;
        document.getElementById('j31total').value = result1;
            } catch {
              console.log("err sub");
            }
          }
        }


//j31 total calculation auto
function calc() {
  var textValue1 = document.getElementById('input1').value;
  var textValue2 = document.getElementById('input2').value;
  var textValue3 = document.getElementById('input3').value;

  document.getElementById('j31total').value = Number(textValue1) + Number(textValue2)*2 + (textValue3*3);
}




  //To change item as J-31 hide div J-31
    $("#item_no").change(function(){
      var resultId = $(this).val();
      var issue_to = $('#issue_to').val();
      var $j = jQuery.noConflict();   //only j for error solving.
      get_data = {'item_no':resultId}
      $.ajax({
          url: '/last_balance/',
          type: "GET",
          data: get_data,
          dataType: 'json',
          success: function (data) {
              if (data.last_bl !== null){
                $('#sl_start').val(parseInt(data.last_bl)+1);
              } else {
                 $('#sl_start').val('');               
              }
              
            }
          });
      //Show hide seal
      if (resultId == "J-31"){
        $( "#j31total" ).val( "" );
        $('#seal').hide();
      } else {
        $('#seal').show();
        if (issue_to=="return_to_store"){
          $('#j31total').prop('readonly', false);
          $('#j31total').val('');
          $('#seal').hide();
        } else {
          $('#seal').show();
          $( "#j31total" ).val( "" );
        }
      }

    })

  //To change return to  as store or register
    $("#issue_to").change(function(){
      var resultId = $(this).val();
      var itemRes = $('#item_no').val();
      var $j = jQuery.noConflict();   //only j for error solving.
      if (resultId == "return_to_store"){
        $( "#sl_start" ).val("");
        $( "#sl_end" ).val("");
        $( "#j31total" ).val("");
        $('.reg_div').hide();
        $('.store_div').show();
        $('#seal').hide();
        $('#sl_end').prop('required', false);
      } else {
        $('.store_div').hide();
        $('.reg_div').show();
        $('#sl_end').prop('required', true);
        $( "#j31total" ).val( "" );

        if (itemRes=="J-31") {
          $('#j31total').val('');
          $('#seal').hide();

        } else {
           $('#seal').show();
           $( "#j31total" ).val( "" );
        }
        }

    })
</script>

</div>
{% endblock %}

