

{% extends 'base.html' %}

{% load static %}

{% load mathfilters %}
{% block content %}


<style type="text/css">
  .table th {
            text-align: center;
            }
</style>

<div class="container">
  <div class="text-center">
  <h5> Balance of <span class="text-right"> {{request.user.office.office_name}}</span></h5>
  Item No: {{item_no}}  Date: {{from_date}} to {{to_date}}
  </div>

<table class="table table-bordered table-striped w-100 border border-dark">
  <thead>
    <tr>
      <th scope="col">Serial</th>
      <th scope="col">Item</th>
      <th scope="col">Date</th>
      <th scope="col">Received</th>
      <th scope="col">Reference</th>
      <th scope="col">Issued</th>
      <th scope="col">Record book ref.</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
    {% for data, res in obj_result_compbined %}
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.item }}</td>
      <td>{{ data.date_start|date:"d-m-Y"  }}</td>
      <td style="text-align: center; font-weight: bold;">{% if data.credit_qty != 0 %} {{ data.credit_qty }} {%endif%}</td>
      <td>{% if data.credit_qty != 0 %} {{data.referance_name}} - {{data.ticket_no}} {%endif%}</td>
      <td style="text-align: center; font-weight: bold;">{% if data.debit_qty != 0 %} {{ data.debit_qty }} {%endif%}</td>
      <td>
        {% if data.debit_qty != 0 %}
            {% if not data.store_return_ticket %} SL-{{ data.sl_start }} - {{data.sl_end}} / {{data.name}} {%endif%} 
            {% if data.store_return_ticket %} Store Credit - {{ data.store_return_ticket}} {%endif%} 
        {% endif %}
      </td>
      <td>{{ res.total|sub:res.total2 }}</td>

    </tr>
    {% endfor %}
  </tbody>


    <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center">{{ total_credit_quantity }}</td>
      <td></td>
      <td class="text-center">{{ total_debit_quantity }}</td>
      <td></td>
      <th>{{ balance_in_hand }}</th>
    </tr>     
    </tfoot>
  </table>
 </div>
{% endblock %}

