{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">
	.table-sm{
	  font-size: 14px;
	  padding: 0px;
	}

	tr {
	   line-height: 10px;
	   min-height: 25px;
	   height: 25px;
	}

</style>




<div class="container">

	<div class="bg-secondery text-prinary rounded h2 p-2" >Dashboard of {{ user }} AGM</div>


<ul class="list-group">
  <li class="bg-primary text-white list-group-item d-flex justify-content-between align-items-center">

    Panding List of {{ user }} AGM
    <span class="badge badge-danger badge-pill">{{panding_qty}}</span>

  </li>
</ul>

<table class="table  table-hover table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col">Meter No</th>
      <th scope="col">Reading</th>
      <th scope="col">Account</th>
      <th scope="col">Result</th>
      <th scope="col">Date</th>
	  <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
  	{% for item in panding_list %}
  	<form method="post" action="{% url 'agm_dashboard' %}">
  		{% csrf_token %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{item.tested_meter_no}}</td>
      <td>{{item.reading_as_found}}</td>
      <td>{{item.book}}-{{item.account}}</td>
      <td>{{item.comments}}</td>
      <td>{{item.date}}</td>
      <td>
      	<div class="btn-group" role="group" aria-label="Basic example">
      	  <input name="test_id" value="{{item.id}}" hidden>
		  <button type="button" class="btn btn-info btn-sm"> <a href="{% url 'test_report_single' pk=item.id %}" class="text-decoration-none">View</a></button>
		  <!---<button type="button" class="btn btn-danger">Edit</button> -->
		  <button type="submit" class="btn btn-success btn-sm">Sign</button>
		</div>
      </td>
    </tr>
	</form>

    {% endfor %}
  </tbody>
</table>

</div>


{% endblock %}