<!---List Item for scrolling paginate-->

    <tr>
      <td class="pt-3">{{item.id}}</td>
      <td class="pt-3">{{item.tested_meter_no}}</td>
      <td class="pt-3">{{item.reading_as_found}}</td>
      <td class="pt-3">{{item.book}}-{{item.account}}</td>
      <td class="pt-3">{{item.comments}}</td>
      <td class="pt-3">{{item.date}}</td>
      <td>
      {% csrf_token %}
      	<div class="btn-group" role="group" aria-label="Basic example">
      	  <input name="test_id" id="test_id" value="{{item.id}}" hidden>
		  <button type="button" class="btn btn-info btn-sm"> <a href="{% url 'test_report_single' item.id %}" class="text-decoration-none" target="_blank">View</a></button>
		  <button type="submit" id="sing_submit" class="btn btn-success btn-sm" onclick="return popitup('/test_report_single/{{item.id}}')">Print</button>
		</div>
      </td>
    </tr>


