
{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--To print in landscape in web in bootstrap-->
<style type="text/css">
 @media print { @page {size: auto !important} }

a {
  text-decoration: none;
  color: black;
}

table, th, td, thead {
  border: 1.5px solid black;
  border-collapse: collapse;
}

.mytable>tbody>tr>td, .mytable>thead>tr>td {
 border: 1px solid black;
}


.table-striped{
  font-size: 12px;
  color: black;
}

.table {
  font-size: 14px;
}

.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.table-sign{
  border: 0px;
  width: 100%
}
.sign>td{
  border: 0px solid black !important;
  text-align: center;
  width: 10%;
}

.close, .view{
  opacity: 0;
}

tr:hover button {
  opacity: 1;
}

</style>


<div class="p-3">

  <div class="col-12 row">
    <div class="col-md-4 col-sm-12 text-left"> <br>BREB form</div>
    <div class="col-md-4 col-sm-12 text-center"><b><a href="{% url 'test_input' %}" class="h5 text-decoration-none">
      {{office.pbs.pbs_name}}</a></b> <br>{{ office.office_name }}<br>Three Phrase Inventory Sheet
  
      <div id="print_btn">
        <button href="#" onClick='print_only_doc("e")' class="btn btn-sm btn-info">
          Print
        </button>
        <noscript>
          You need Javascript to use the previous link or use <a href="test_report_multi" target="_blank">Print</a>
        </noscript>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 text-right"> <br>Date: <input style="width:100px; outline:none!important; border:0;outline:0;" value ="{{date}}" id="date"> <br> Reason for Test:<i> New/<b>Complain</b>/Periodic</i>
          <script type="text/javascript">
            //JS for Current Date of Test data
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
          document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
          </script>
  
          <br>
          <div class="pagination d-flex justify-content-center">
            <span class="step-links">
             <!-- Add the query string to pagination links -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1{% if query_string %}&{{ query_string }}{% endif %}">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}{% if query_string %}&{{ query_string }}{% endif %}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

            </span>
          </div>
      </div>
  </div>
</div>
{% if page_obj %}
<div class="table-responsive px-4">
<table class="table mytable text-center"  style="font-family: 'AdorshoLipi', Arial, sans-serif !important;">
  <thead>
    <tr style="vertical-align:top">
      <td colspan="" style="max-width:3px;">ক্রমিক</td>
      <td rowspan="">মিটারের সিরিয়াল নং</td>
      <td colspan="">বর্তমান রিডিং</td>
      <td rowspan="">প্রস্তুতকারকের নাম</td>
      <td rowspan="">ক্লাস</td>
      <td rowspan="">আইটেম নং</td>
      <td scope="col">মিটার অপসারনের তারিখ</td>
      <td colspan="" class="text-center">মিটার অপসারনের কারণ</td>
      <td scope="col">প্যাডলক সিল নং</td>
      <td scope="col">প্যাডলক সিলের অবস্থা</td>
      <td rowspan="" style="white-space: nowrap;">প্যাডলক সিল সংযুক্ত <br>না কারার কারণ</td>
      <td rowspan="">লিড সিলের অবস্থা</td>
      <td rowspan="">গ্লাস কভারের অবস্থা</td>
      <td rowspan="">টেস্ট ক্লিপের অবস্থা</td>
      <td rowspan="">হিসাব নং</td>
      <td rowspan="">মন্তব্য</td>
    </tr>
  </thead> 
  <tbody>
    
    {% for data in page_obj %}
    <tr class="table_row">
      <td rowspan=""><a href="{% url 'test_report_single' pk=data.id %}"><button hreif="{% url 'test_report_single' pk=data.id %}" class="view btn btn-sm btn-warning" title="Will Preview Test Data">View</button></a></td>
      <td rowspan=""><a href="{% url 'update_td' pk=data.id %}" class="text-decoration-none" title="Edit">{{ data.tested_meter_no }}</a></td>
      <td rowspan="">{{data.reading_as_found}}</td>
      <td rowspan="">{{data.manufacturer}}</td>
      <td rowspan="">{{data.meter_class}}</td>
      <td rowspan="">{{data.meter_item}}</td>
      <td rowspan="">{{data.remove_date | date:"d-m-Y"}}</td>
      <td rowspan="" style="white-space: nowrap;">{% if data.remove_cause != None %}{{data.remove_cause}}{% endif %}</td>
      <td rowspan="">{% if data.terminal_seal_no != None %}{{data.terminal_seal_no}}{%endif%}</td>
      <td rowspan="">{{data.terminal_seal}}</td>
      <td rowspan="" style="white-space: nowrap;">{% if data.terminal_seal_missing != None %}{{data.terminal_seal_missing}}{% endif %}</td>
      <td rowspan="">{{data.body_seal}}</td>
      <td rowspan="">{{data.glass_cover}}</td>
      <td rowspan="">{{data.test_clip}}</td>
      <td rowspan="" style="white-space: nowrap;">{% if data.account != None %}{{data.book}}-{{data.account}}{%endif%}</td>
      <td rowspan=""><button class="close btn btn-sm btn-danger" title="Will not delete permanently. Just hide.">Close</button></td>
    </tr>
    {% endfor %}
  </tbody>

<tbody>
<tr class="sign w-100" style="white-space: nowrap;">
  <td></td>
  <td><br><br>Meter Tester/ MTS<br>{{ office.officeemp.tested_by.get_full_name }}<br>{{office.officeemp.tested_by.designation}}</td>
  <td></td>
  <td></td>
  <td></td>
  <td><br><br>AGM<br><br></td>
  <td></td>
  <td></td>
  <td></td>
  <td><br><br>DGM<br><br></td>
  <td></td>
  <td></td>
  <td></td>
  <td><br><br>Approved by <br><br>
  </td>
</tr>
</tbody>
</table>
{% else %}
  <p class="pt-4 text-center text-danger">No Result Found</p>  
{% endif %}
</div>

<script>

  $("table tbody tr button.close").click(function() {
    $(this).closest("tr").remove();
    $(this).closest("tr").find("button.close").remove();
  });

</script>

{% endblock %}
<!---end payment table--->